*{
	margin: 0;
	padding: 0;
}

.header{
	height: 76px;
}

.navigation__link{
	tab-size: 16px;
	line-height: 20px;
}

.all__title{
	font-size: 64px;
	font-weight: 600;
	line-height: 70px;
	margin: 64px 0 16px 0;
}

.all__subtitle{
	font-size: 24px;
	line-height: 32px;
	margin: 0 0 16px 0;
}

.all__link{
	font-size: 16px;
	line-height: 24px;
}

.special__header{
	font-size: 48px;
	line-height: 59px;
	font-weight: 600;
	color: #000000;
	margin: 0 0 32px 0;
}

.special__title{
font-size: 24px;
font-weight: 500;
line-height: 29px;
color: #000000;
margin: 0 0 8px 0;
}

.special__subtitle{
	font-size: 14px;
	line-height: 17px;
	color: #888888;
	margin: 0 0 12px 0;
}

.special__final-price{
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	color: #050505;
}

.special__initial-price{
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-decoration-line: line-through;
	color: #888888;
}

.footer__options{
	font-size: 24px;
	line-height: 29px;
	font-weight: 500;
	color: #000000;
}

.footer__options-menu{
	margin: 0 0 12px 0;
}

.footer__link{
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	color: #888888;
	text-decoration: none;
}

.footer__link-inderlining:hover{
	text-decoration-line: underline;
}

.footer__form-text{
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	margin: 0 0 16px 0;
}

.footer__form-email{
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 20px;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #C4C4C4;
}

.footer__form-button{
	background: rgba(222, 215, 215, 0.41);
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 20px;
	width: 275px;
	height: 46px;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
}

