@charset "UTF-8";
@-webkit-keyframes wobble-ver-left {
  0%, 100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    transform: translateY(15px) rotate(6deg);
  }
  45% {
    transform: translateY(-15px) rotate(-3.6deg);
    background: ghostwhite;
  }
  60% {
    transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    transform: translateY(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-ver-left {
  0%, 100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    transform: translateY(15px) rotate(6deg);
  }
  45% {
    transform: translateY(-15px) rotate(-3.6deg);
    background: ghostwhite;
  }
  60% {
    transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    transform: translateY(-6px) rotate(-1.2deg);
  }
}
.wobble-ver-left {
  -webkit-animation: wobble-ver-left 0.8s both;
          animation: wobble-ver-left 0.8s both;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

.center {
  padding: 0 calc(50% - 600px);
}

.top {
  height: 735px;
  background-image: url(../img/Bg_top.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  margin: 0 0 63px 0;
}
.header__form-text {
  width: 288px;
  height: 41px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 0 32px;
}
.header__form-text::-webkit-input-placeholder {
  color: #FFFFFF;
}
.header__navigation {
  display: flex;
  gap: 32px;
}
.header__navigation-link {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #FFFFFF;
}
.header__navigation-link:hover {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.header__nav-mobile {
  display: none;
}

.all__title {
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  margin: 0 0 16px 0;
  color: #FFFFFF;
  max-width: 792px;
}
.all__subtitle {
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 16px 0;
  color: #FFFFFF;
}
.all__link {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.all__link:hover {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.for {
  margin: 64px 0;
}
.for__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  margin: 0 0 32px 0;
}
.for__wrapper {
  display: grid;
  gap: 32px;
  row-gap: 31px;
  grid-template-columns: repeat(12, 1fr);
}
.for__item {
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #FFFFFF;
  height: 415px;
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.for__item-big {
  grid-column: span 6;
}
.for__item-1 {
  background: url(../img/For/for-1.jpg);
}
.for__item-2 {
  background: url(../img/For/for-2.jpg);
}
.for__item-3 {
  background: url(../img/For/for-3.jpg);
}
.for__item-4 {
  background: url(../img/For/for-4.jpg);
}
.for__item-5 {
  background: url(../img/For/for-5.jpg);
}

.special {
  margin: 0 0 72px 0;
}
.special__container {
  max-width: 1200px;
  margin: 0 auto;
}
.special__row {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.special__column {
  width: 378px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  transition: transform 0.4s, box-shadow 0.4s;
}
.special__column:hover {
  box-shadow: 0 0 5px #888888;
  transform: scale(1.05);
}
.special__header {
  font-size: 48px;
  line-height: 59px;
  font-weight: 600;
  color: #000000;
  margin: 0 0 32px 0;
}
.special__image {
  width: 100%;
  margin: 0 0 10px 0;
}
.special__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #000000;
  margin: 0 0 8px 0;
}
.special__description {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin: 0 0 12px 0;
}
.special__box-pice {
  display: flex;
  gap: 32px;
}
.special__price {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #050505;
}
.special__price-sale {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #888888;
}

.catalog {
  margin: 0 0 64px 0;
}
.catalog__container {
  max-width: 1200px;
  margin: 0 auto;
}
.catalog__header {
  font-size: 48px;
  line-height: 59px;
  font-weight: 600;
  color: #000000;
  margin: 0 0 32px 0;
}
.catalog__row {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0 0 39px 0;
}
.catalog__column {
  width: 378px;
  padding: 8px;
  transition: transform 0.4s, box-shadow 0.4s;
}
.catalog__column:hover {
  box-shadow: 0 0 5px #888888;
  transform: scale(1.05);
}
.catalog__image {
  width: 100%;
  margin: 0 0 10px 0;
}
.catalog__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #000000;
  margin: 0 0 8px 0;
}
.catalog__subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin: 0 0 12px 0;
}
.catalog__price {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #050505;
}
.catalog__link {
  font-size: 16px;
  line-height: 24px;
  color: #888888;
}
.catalog__link:hover {
  color: #000000;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.catalog__for-mobile {
  display: none;
}

.footer {
  background: #F7F6F6;
}
.footer__row {
  display: flex;
  gap: 212px;
  padding-top: 32px;
  padding-bottom: 40px;
}
.footer__subrow {
  display: flex;
  gap: 177px;
}
.footer__center-row {
  display: flex;
  gap: 129px;
}
.footer__options {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  color: #000000;
  margin: 0 0 12px 0;
}
.footer__options-menu {
  margin: 0 0 12px 0;
}
.footer__link {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  margin: 0 0 12px 0;
}
.footer__last-link {
  margin: 0;
}
.footer__link-inderlining:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}
.footer__contacts-row {
  display: flex;
  flex-direction: column;
}
.footer__contacts-column-social {
  display: flex;
  align-items: center;
  gap: 23px;
}
.footer__svg path {
  transition: fill 0.8s;
}
.footer__svg:hover path {
  fill: #000;
}
.footer__form-text {
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  margin: 0 0 16px 0;
}
.footer__form-email {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  height: 46px;
  width: 275px;
  padding: 0 25px;
  margin: 0 0 12px 0;
}
.footer__form-button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  transition: background 0.4s, color 0.4s;
}
.footer__form-button:hover {
  background: #000000;
  color: #FFFFFF;
}

/* Start of cart styles */
.top-cart {
  height: 400px;
  background: url(../img/Cart/BG.png) center/cover no-repeat;
}

.header-cart {
  margin: 0 0 127px 0;
}

.cart__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
}

.main-cart {
  margin: 64px 0;
}
.main-cart__nav-cart {
  display: flex;
  justify-content: space-between;
}
.main-cart__nav-cart {
  margin: 0 0 32px 0;
}
.main-cart__links {
  list-style: none;
}
.main-cart__links li {
  display: inline;
}
.main-cart__links li + li:before {
  content: "/ ";
  color: black;
  padding-left: 8px;
  padding-right: 8px;
}
.main-cart__links li a {
  text-decoration: none;
}
.main-cart__links li a:hover {
  text-decoration: underline;
}
.main-cart__link {
  list-style-type: none;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}
.main-cart__form-select-wrapper {
  position: relative;
  width: 288px;
}
.main-cart__form-select-wrapper::after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  margin-top: -3px;
}
.main-cart__form-select {
  display: block;
  width: 100%; /* от ширины блока div */
  padding: 0.75rem 2.5rem 0.75rem 1rem; /* отступы от текста до рамки */
  background: none; /* убираем фон */
  -webkit-appearance: none; /* Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* убираем дефолнтные стрелочки */
  font-family: inherit; /* наследует от родителя */
  font-size: 1rem;
  color: #444;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
}

.cart__row {
  row-gap: 48px;
  margin: 0 0 32px 0;
}
.cart__title-mobile {
  display: none;
}

/* Start of basket styles */
.top-basket {
  background: url(../img/Basket/BG/BG.png) center/cover no-repeat;
}

.basket {
  margin: 64px 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 33px;
}
.basket__content {
  grid-column: span 8;
  display: flex;
  flex-direction: column;
}
.basket__content-top {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 27px 14px 5px;
  padding-bottom: 14px;
}
.basket__content-product {
  border-top: 0.5px solid #CACDD8;
  padding: 25px 0 32px 0;
  display: flex;
}

.product {
  width: 100%;
}
.product__img {
  max-width: 100%;
}
.product__info {
  width: 100%;
  padding: 0 1px 0 2px;
  display: flex;
  gap: 30px;
}
.product__center-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.product__info-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.product__text {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  max-width: 276px;
}
.product__price {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.product__links {
  display: flex;
  gap: 30px;
}
.product__link {
  font-size: 14px;
  line-height: 210%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #000000;
}
.product__input-number {
  width: 71px;
  height: 51px;
  background: #F7F6F6;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  display: flex;
  align-items: center;
  text-align: center;
}
.product__form {
  margin: 18px 0 0 0;
  display: flex;
  gap: 7px;
}
.product__button {
  width: 200px;
  height: 37px;
  border: 1px solid #000000;
  border-radius: 50px;
  background-color: transparent;
  font-size: 14px;
  line-height: 17px;
  color: #020202;
  transition: background 0.7s, color 0.7s;
}
.product__button_blak:hover {
  background: #000000;
  color: #FFFFFF;
}

.basket-form {
  grid-column: span 4;
  background: #F7F6F6;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 0 0 0;
}
.basket-form__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin: 0 0 35px 0;
}
.basket-form__inputs {
  width: 100%;
  padding: 0 64px 0 27px;
  margin: 0 0 64px 0;
}
.basket-form__input {
  display: block;
  width: 288px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #CACDD8;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 41px 0;
  padding: 0 10px;
}
.basket-form__input:last-child {
  margin: 0;
}
.basket-form__total-price {
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 18px 0;
}
.basket-form__button {
  width: 290px;
  height: 41px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 20px;
  background: #F7F6F6;
  transition: color 0.7s;
}
.basket-form__button:hover {
  background: #000000;
  color: #FFFFFF;
}

.special__row-basket {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

@media (max-width: 1024px) {
  .center {
    padding: 0 calc(50% - 393px);
  }
  .all__title {
    max-width: 786px;
  }
  .all__link {
    text-decoration: underline;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
  .for__wrapper {
    gap: 30px;
  }
  .for__item {
    height: 268px;
  }
  .special {
    margin: 0 0 64px 0;
  }
  .special__row {
    gap: 29px;
    row-gap: 38px;
  }
  .special__row-basket {
    gap: 29px;
    row-gap: 30px;
  }
  .catalog__row {
    gap: 29px;
    row-gap: 39px;
    margin: 0 0 40px 0;
  }
  .footer__column-logo {
    display: none;
  }
  .cart__row {
    gap: 29px;
    row-gap: 30px;
    margin: 0 0 32px 0;
  }
  .basket {
    grid-template-columns: repeat(8, 1fr);
    margin: 66px 0 64px 0;
    row-gap: 64px;
  }
  .basket-form {
    height: 556px;
  }
  .product__button_blak {
    background: #000000;
    color: #FFFFFF;
  }
}
@media (max-width: 834px) {
  .center {
    padding: 0 24px;
  }
  .footer__row {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .center {
    padding: 0 16px;
  }
  .header {
    padding-top: 32px;
    border: none;
    margin: 0 0 29px 0;
  }
  .header__img-logo {
    width: 99px;
  }
  .header__form {
    display: none;
  }
  .header__navigation {
    display: none;
  }
  .header__nav-mobile {
    display: block;
    display: flex;
    gap: 32px;
    align-items: center;
  }
  .all {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .all__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .all__subtitle {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .all__link {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
  .for {
    margin: 32px 0;
  }
  .for__title {
    font-size: 24px;
    line-height: 29px;
  }
  .for__wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    height: 375px;
    grid-column: 1/-1;
    font-size: 28px;
    line-height: 34px;
  }
  .for__item-big {
    height: 244px;
  }
  .special {
    margin-bottom: 36px;
  }
  .special__header {
    font-size: 24px;
    line-height: 29px;
  }
  .special__row {
    gap: 32px;
    justify-content: center;
  }
  .special__title {
    font-size: 18px;
    line-height: 22px;
  }
  .special__description {
    margin-bottom: 8px;
  }
  .special__price {
    font-size: 18px;
    line-height: 22px;
  }
  .catalog {
    margin-bottom: 32px;
  }
  .catalog__header {
    font-size: 24px;
    line-height: 29px;
  }
  .catalog__row {
    gap: 32px;
    margin-bottom: 36px;
    justify-content: center;
  }
  .catalog__title {
    font-size: 18px;
    line-height: 22px;
  }
  .catalog__subtitle {
    margin-bottom: 9px;
  }
  .catalog__price {
    font-size: 18px;
    line-height: 22px;
  }
  .footer__subrow {
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
  }
  .footer__center-row {
    justify-content: space-between;
  }
  .footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__center-row {
    gap: 100px;
  }
  .footer__subcolumn-form {
    justify-self: center;
  }
  .cart__title {
    font-size: 48px;
    line-height: 59px;
    padding-top: 82px;
    text-align: center;
  }
  .main-cart {
    margin: 32px 0;
  }
  .main-cart__nav-cart {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .main-cart__link {
    font-size: 14px;
    line-height: 32px;
  }
  .main-cart__form-select {
    font-size: 14px;
    line-height: 17px;
  }
  .catalog__column-mobile-none {
    display: none;
  }
  .catalog__link-mobile-none {
    display: none;
  }
  .catalog__for-mobile {
    display: block;
  }
  .basket {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 92px 0 48px 0;
    gap: 48px;
  }
  .basket__content-top {
    display: none;
  }
  .basket__content {
    grid-column: 1/-1;
  }
  .product__img {
    display: none;
  }
  .product__title {
    font-size: 18px;
    line-height: 22px;
  }
  .product__text {
    font-size: 14px;
    line-height: 17px;
  }
  .product__price {
    font-size: 12px;
    line-height: 15px;
  }
  .product__button {
    font-size: 12px;
    line-height: 15px;
  }
  .special__row-basket {
    justify-content: center;
  }
}
@media (max-width: 330px) {
  .footer__center-row {
    gap: 80px;
  }
}